<section class="mx-auto max-w-6xl p-8">
  <h1 class="mb-4 text-3xl font-bold">
    Definitions
  </h1>

  <app-word-definitions-main-panel
    [word]="word"
    [limit]="limit"
    [random]="random"
    (wordChange)="onWordChange($event)"
    (limitChange)="onLimitChange($event)"
    (randomChange)="onRandomChange($event)"
    (applyAllEvent)="onSearch($event)"
    (resetAllEvent)="onReset()"
  />

  @if (loading()) {
    <app-loading-state
      [message]="'Loading definitions...'"
    />
  }

  @if (error()) {
    <app-error-state
      [error]="error()!"
    />
  } @else if (response(); as res) {
      @if (res.count === 0) {
        <app-empty-state
          title="No definitions found"
          description="No definitions were found for the specified word."
        />
      } @else {
        <app-word-definitions-result
          [result]="res"
        />
      }
    } @else {
      <app-empty-state
        title="No definitions loaded"
        description="Enter a word and click Get definitions."
      />
  }
</section>