<section class="mx-auto max-w-6xl p-8">
  <h1 class="mb-6 text-center text-4xl font-bold">
    Games
  </h1>

  <div class="grid gap-8 md:grid-cols-2">
    <app-navigation-card
      title="Crossword"
      description="Guess the hidden main word using clues and related words."
      imageUrl="/images/games/crossword-game.png"
      route="/games/crossword"
    />

    <app-navigation-card
      title="Sõnasegadik"
      description="Word puzzle game based on mixed letters."
      imageUrl="/images/games/sonasegadik-game.png"
      route="/games/sonasegadik"
    />
  </div>
</section>