<app-search-section title="Letters">

  <div class="section-row">

    <div class="section-field">
      <label>Contains</label>
      <input
        id="contains"
        type="text"
        placeholder="a,b,c"
        [value]="contains?.join(', ') ?? ''"
        (input)="onContainsChange($any($event.target).value)"
      />
    </div>

    <div class="section-field">
      <label>Not Contains</label>
      <input
        id="notContains"
        type="text"
        placeholder="x,y,z"
        [value]="notContains?.join(', ') ?? ''"
        (input)="onNotContainsChange($any($event.target).value)"
      />
    </div>

  </div>

</app-search-section>