<app-word-search-grid
  [rows]="gridRows()"
  [cols]="response().cols"
  [zoom]="zoom()"
  (selectionEnd)="onSelection($event)"
  [foundCells]="foundCells()"
  [previewCells]="previewCells()"
/>

<app-word-search-side-panel>
  <app-word-search-words
    [words]="response().words"
    [foundWords]="foundWords()"
    (hoverWord)="previewWord($event)"
    (leaveWord)="clearPreview()"
  />

  <app-word-search-victory
    [isVisible]="isCompleted()"
  />

  <app-word-search-controls
    (clean)="clearGameProgress()"
    (zoomIn)="onZoomIn()"
    (zoomOut)="onZoomOut()"
    (solveAll)="solveAll()"
    [canZoomIn]="canZoomIn()"
    [canZoomOut]="canZoomOut()"
  />
</app-word-search-side-panel>