<section class="p-8">
  @if (loading()) {
    <app-loading-state [message]="'Loading word details...'" />
  }

  @if (error()) {
    <app-error-state [error]="error()!"/>
  } @else if (result(); as res) {
    <h1 class="mb-6 text-3xl font-bold">
      {{ result()!.exists ? formatWord(result()!.lemma!) : formatWord(result()!.word) }}
    </h1>

    @if (result()!.exists) {
      <app-word-details-result
        [result]="result()!"
      />
    } @else {
      <app-empty-state
        [title]="'Word not found: ' + requestedWord()"
        description="This word does not exist in the dictionary. Check the spelling or try again later."
      />
    }
  }
</section>