<app-search-panel class="main-panel">
  <!-- WORDS -->
  <app-words-section
    [words]="settings.words"
    (valueChange)="updateSettings($event)"
  />

  <!-- GRID SETTINGS -->
  <app-shaped-grid-settings-container
    [rows]="settings.rows"
    [cols]="settings.cols"
    [blockedCells]="settings.blockedCells"
    (settingsChange)="updateSettings($event)"
  />

  <!-- GAME SETTINGS -->
  <app-custom-shaped-word-search-settings-container
    [settings]="settings"
    (settingsChange)="updateSettings($event)"
  />

  <!-- SORT -->
  <app-sort-container
    [sort]="sort"
    (sortChange)="updateSort($event)"
  />

  <!-- ACTIONS -->
  <app-panel-actions
    primaryLabel="Generate"
    secondaryLabel="Reset"
    (primaryClick)="applyAll()"
    (secondaryClick)="resetAll()"
  />

</app-search-panel>