<app-search-section title="Length">

  <div class="section-row">

    <div class="section-field">
      <label>Include</label>
      <input 
        id="includeCategories"
        placeholder="loomad"
        type="text" 
        [value]="includeCategories?.join(', ') ?? ''"
        (input)="onIncludeChange($any($event.target).value)"
      />
    </div>

    <div class="section-field">
      <label>Exclude</label>
      <input 
        id="excludeCategories"
        placeholder="riigid"
        type="text" 
        [value]="excludeCategories?.join(', ') ?? ''"
        (input)="onExcludeChange($any($event.target).value)"
      />
    </div>

  </div>
</app-search-section>