<app-search-section title="Boundaries">

  <div class="section-row">

    <div class="section-field">
      <label>Starts With</label>
      <input 
        id="startsWith"
        placeholder="ap"
        type="text" 
        [value]="startsWith ?? ''"
        (input)="onStartsWithChange($any($event.target).value)"
      />
    </div>

    <div class="section-field">
      <label>Ends With</label>
      <input 
        id="endsWith"
        placeholder="ik"
        type="text" 
        [value]="endsWith ?? ''"
        (input)="onEndsWithChange($any($event.target).value)"
      />
    </div>

  </div>

</app-search-section>