<table>
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Game Type</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    @for (game of games; track game.id; let index = $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ game.id }}</td>
        <td>{{ gameTypeLabels[game.gameType] }}</td>
        <td>{{ game.createdAt | date:'dd.MM.yyyy, HH:mm:ss' }}</td>
        <td class="actions">
          <a
            [routerLink]="['/saved-games', game.id]"
            class="view-button"
          >
            View
          </a>

          <button
            type="button"
            class="delete-button"
            (click)="deleteGame.emit(game.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>