<section class="filter-container">

  <app-collapsible-header
    title="Filters"
    [isExpanded]="isExpanded()"
    (expandedChange)="toggle()"
  />

  @if (isExpanded()) {
    <app-length-section
        [minLength]="filters.minLength"
        [maxLength]="filters.maxLength"
        (valueChange)="filtersChange.emit($event)"
    />

    <app-boundary-section
        [startsWith]="filters.startsWith"
        [endsWith]="filters.endsWith"
        (valueChange)="filtersChange.emit($event)"
    />

    <app-letter-section
        [contains]="filters.contains"
        [notContains]="filters.notContains"
        (valueChange)="updateFilters($event)"
    />

    <app-pattern-section
        [pattern]="filters.pattern"
        (valueChange)="updateFilters($event)"
    />

    <app-category-section
        [includeCategories]="filters.includeCategories"
        [excludeCategories]="filters.excludeCategories"
        (valueChange)="updateFilters($event)"
    />

    <app-excluded-words-section
        [excludedWords]="filters.excludedWords"
        (valueChange)="updateFilters($event)"
    />
  }

</section>