<section class="filter-container">

  <div class="flex justify-between items-center mb-4">
    <h2 class="text-lg font-semibold m-0">Filters</h2>

    <button 
      type="button" 
      (click)="toggle()"
      class="w-9 h-9 text-base font-bold p-0 border border-gray-300 bg-white rounded-md cursor-pointer hover:bg-gray-100 transition"
    >
      {{ expanded() ? '▼' : '►' }}
    </button>
  </div>

  @if (expanded()) {

    <app-length-section
        [minLength]="filters.minLength"
        [maxLength]="filters.maxLength"
        (valueChange)="filtersChange.emit($event)"
    />

    <app-boundary-section
        [startsWith]="filters.startsWith"
        [endsWith]="filters.endsWith"
        (valueChange)="filtersChange.emit($event)"
    />

    <app-letter-section
        [contains]="filters.contains"
        [notContains]="filters.notContains"
        (valueChange)="updateFilters($event)"
    />

    <app-pattern-section
        [pattern]="filters.pattern"
        (valueChange)="updateFilters($event)"
    />

    <app-category-section
        [includeCategories]="filters.includeCategories"
        [excludeCategories]="filters.excludeCategories"
        (valueChange)="updateFilters($event)"
    />

    <app-excluded-words-section
        [excludedWords]="filters.excludedWords"
        (valueChange)="updateFilters($event)"
    />

  }

</section>