<section class="p-8">
  <h1 class="mb-4 text-3xl font-bold">
    Exists Words
  </h1>

  <app-word-exists-main-panel
    [word]="word"
    (wordChange)="onWordChange($event)"
  />

  @if (loading()) {
    <app-loading-state [message]="'Checking word...'" />
  }

  @if (error()) {
    <app-error-state [error]="error()!"/>
  } @else if (result()) {
    <app-word-exists-result
      [result]="result()!"
    />
  } @else {
    <app-empty-state
      title="No word checked"
      description="Enter a word above to check whether it exists in the database."
    />
  }
</section>